<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <!-- 文件日志目标 -->
    <target xsi:type="File" name="logfile" 
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" 
            archiveFileName="${basedir}/logs/archive/log.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Day"
            maxArchiveFiles="7"/>
    <target xsi:type="File" 
            name="errorfile" 
            fileName="${basedir}/logs/error_${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=tostring}" />
    
    <!-- 控制台目标 -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <!-- 所有信息写入控制台 -->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <!-- Warning及以上级别写入文件 -->
    <logger name="*" minlevel="Warning" writeTo="logfile" />
    <!-- Error及Fatal级别额外写入error日志文件 -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>
